body{
    background: rgb(255, 255, 255);
}

canvas{
    border: 3px solid black;
    background: white;
}
label{
    font-family: sans-serif;
    font-size: 2em;
}
button {
    font-family: sans-serif;
    font-size: 2em;
}
/*
.center{
    margin: auto;
    width: 50%;
}*/